html {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(49, 49, 49);
    margin: 0;
    padding: 0;
}

/* #welcome {
    height: auto;
    background-image: url('../images/newhome.png');
    background-size: cover;
    background-repeat: no-repeat;
} */

#card {
    width: fit-content;
}

.card {
    margin-bottom: 200px;
}

.ship {
    width: fit-content;
}



